<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}

		<link href="https://fonts.googleapis.com/css?family=Rosario" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/logo_tiefling.png">
	</head>

	<body {% if page.text_width %}class="text-width"{% endif %}>
		<div class="wrap">
			<img src="{{ site.baseurl }}/images/logo_tiefling.png" alt="logo image of tiefling horns"></img>
			<header>
				<h1><a href="/">Capriconieee</a></h1>
				{% include navigation.html %}
			</header>
			{{ content }}
			<footer>
				Template edited by me :)
			</footer>
		</div>
	</body>
</html>
